{{!-- Param:
  - category: Chua thong tin cua 1 danh muc
 --}}

<li class="nav-item">
  <a class="d-flex m-2 py-2 bg-light rounded-pill {{#if (eq @index 0)}}active{{/if}}" data-bs-toggle="pill"
    href="#{{category.id}}">
    <span class="text-dark" style="width: 130px;">{{category.name}}</span>
  </a>
</li>