{{!-- Param:
  - categories: Danh sach cac danh muc
 --}}

<div class="container-fluid fruite py-5">
  <div class="container py-5">
    <div class="tab-class text-center">
      <div class="row g-4">
        <div class="col-lg-4 text-start">
          <h1>Our Organic Products</h1>
        </div>
        {{> organic-category categories=categories}}
      </div>
      <div class="tab-content">
        {{#each categories as |_category|}}
          {{> organic-products-by-category category=_category defaultActive=(eq @index 0) }}
        {{/each}}
      </div>
    </div>
  </div>
</div>